{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Login</h1>
    <form method="post">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary" onclick="window.location.href='{{ path('app_home')}}'">Login</button>
    </form>
</div>
{% endblock %}
