<form method="post" action="{{ path('app_soin_des_animaux_delete', {'id': soin_des_animaux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ soin_des_animaux.id) }}">
    <button class="btn">Delete</button>
</form>
